<h1 class="text-center">Hello-world, UNL Solutions!:)</h1>
<p class="text-center">You are watching ProjectControl test task by Dmitry Bakovich</p>
<p class="text-center"><%= link_to 'Start!', projects_path %></p>
